@import "tailwindcss";

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden; /* Sin scroll */
}

body {
  color: black;
  background-color: white;
  transition: background-color 0.3s ease, color 0.3s ease;
}

body.dark-mode {
  background-color: #121212;
  color: white;
}

body.light-mode {
  background-color: white;
  color: black;
}

footer {
  padding: 2rem 1rem;
  font-size: 1.125rem; /* 18px */
  text-align: center;
  background-color: #000; /* Footer negro fijo */
  color: white;
}

footer a:hover img {
  transform: scale(1.1);
  transition: transform 0.2s ease-in-out;
}
