---
// src/pages/index.astro
import BaseLayout from "../layouts/BaseLayout.astro";
// import MySwiper from "../components/MySwiper.jsx";
import PortCard from "../components/PortCard.astro";
import AboutMe from "../components/AboutMe.astro";
import PhotoAndCv from "../components/PhotoandCv.astro";
---

<BaseLayout title="Hector Emanuel Diaz Ochoa - Desarrollador Front End y Móvil">

  <!-- Sección principal -->
  <section class="flex flex-col md:flex-row items-center justify-center gap-12 px-6 md:px-12 py-10">
    <PhotoAndCv />
    <AboutMe />
  </section>

  <!-- Carrusel de proyectos -->
  <section class="py-10 px-4 bg-gray-800">
    <h2 class="text-2xl font-bold text-center text-white mb-8">Proyectos</h2>
    <div class="w-full flex justify-end">
      <PortCard client:load />
      <!-- <MySwiper client:load /> -->

    </div>
  </section>

</BaseLayout>
