---
import BaseLayout from "../layouts/BaseLayout.astro";
import ProfileCard from "../components/ProfileCard.astro";
import AboutMeText from "../components/AboutMeText.astro";
import PortCard from "../components/PortCard.astro";
import Certificates from "../components/Certificates.astro";
---

<BaseLayout title="Mi Portafolio">
  <div class="relative z-10">
    <section id="hero" class="flex flex-col items-center justify-center min-h-screen text-center p-6">
      <ProfileCard />
      <h1 class="text-5xl font-bold mt-8 text-focus-in">Hector Emanuel Diaz Ochoa</h1>
      <p class="text-xl mt-4 focus-in-expand">Desarrollador Front End y de Aplicaciones Móviles</p>
    </section>

    <section id="about" class="py-28 px-6">
      <div class="max-w-3xl mx-auto">
        <AboutMeText />
      </div>
    </section>
    
    <section id="projects" class="py-28 px-6">
      <div class="max-w-3xl mx-auto">
        <PortCard />
      </div>
    </section>
    
    <Certificates />
  </div>
</BaseLayout>