---
import ProfileCard from './ProfileCard.astro';
import AboutMeText from './AboutMeText.astro';
---

<section class="flex flex-col items-center justify-center gap-8">
  <ProfileCard />
  <AboutMeText />
</section>