---
---
<div class="text-center">
  <h2 class="text-4xl font-bold mb-8 text-transparent bg-clip-text bg-gradient-to-r from-green-400 to-blue-500">Sobre Mí</h2>
  <p class="text-xl leading-relaxed max-w-2xl mx-auto">
    Primero quiero aclarar que no soy un robot, soy un apasionado desarrollador Front End y Desarrollador de Aplicaciones móviles. 
    Mi objetivo es seguir desarrollándome profesionalmente y adquirir más conocimientos.
  </p>
</div>