---
---

<footer>
  <p>© 2025 - Mi Portafolio | Todos los derechos reservados</p>
  <a href="https://github.com/EmanuelDiazOchoa" target="_blank">
    <img src="/img/github.png" alt="GitHub" class="inline-block w-6 h-6" />
  </a>
  <a href="https://www.linkedin.com/in/hector-emanuel-diaz-ochoa/" target="_blank">
    <img src="/img/LinkedIn-Logo.wine.png" alt="LinkedIn" class="inline-block w-6 h-6" />
  </a>
</footer>
