---
---
<div class="relative group">
  <div class="absolute -inset-0.5 bg-gradient-to-r from-green-400 to-blue-500 rounded-full blur opacity-75 group-hover:opacity-100 transition duration-1000 group-hover:duration-200 animate-tilt"></div>
  <div class="relative p-1 bg-black rounded-full">
    <img src="/img/Foto-mia-2.jpg" alt="Foto de Hector"
         class="w-64 h-64 object-cover rounded-full" />
  </div>
</div>
<div class="mt-8">
  <a href="/assets/Cv-Ema-Front-app.pdf" target="_blank" download
     class="bg-green-500 text-white px-8 py-3 rounded-full font-bold shadow-lg hover:bg-green-600 transition-all duration-300 transform hover:scale-105">
    Descargar CV
  </a>
</div>